* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  min-width: 1900px;
}

#header {
  width: 100%;
  height: 115px;
  background-color: #ffffff;
  position: fixed;
  z-index: 2;
}

#header #nav-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 67%;
  height: 100%;
  background-color: white;
}

#header #nav-container img {
  padding: 20px;
  width: 7.4rem;
}

#padre {
  height: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
}

#padre .lista {
  list-style-type: none;
  height: 100%;
  line-height: 115px;
}

#padre .lista:hover {
  border-bottom: 4px solid #0282f9;
}

#padre .lista.active {
  border-bottom: 4px solid #0282f9;
  color: #0282f9;
}

#padre .lista a {
  text-decoration: none;
  color: black;
  font-weight: 900;
}

#padre .lista a:hover {
  color: #0282f9;
}

#padre .lista a:active,
#padre .lista a.active {
  color: #0282f9;
}

.jumbotron {
  width: 100%;
  height: 540px;
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
  background-position-y: 115px;
}

#wrapper-cards {
  width: 100%;
  background-color: #1c1c1c;
}

#wrapper-cards .contents-container {
  padding: 38px 0px 25px 44px;
  position: relative;
  width: 68%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#wrapper-cards .contents-container h1 {
  color: white;
  position: absolute;
  top: -29px;
  left: 38px;
  background-color: #0282f9;
  padding: 10px 30px;
  font-size: 1.5rem;
}

#wrapper-cards .contents-container .card-box {
  width: 13%;
  margin: 1.2rem;
}

#wrapper-cards .contents-container .card-box #special {
  width: 100%;
}

#wrapper-cards .contents-container #special-2 {
  color: White;
  width: 181px;
}

#wrapper-cards #btn {
  background-color: #0282f9;
  border: none;
  color: white;
  padding: 10px 30px;
  margin-top: 20px;
  font-weight: 900;
  cursor: pointer;
}

#wrapper-1 {
  width: 100%;
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
  height: 375px;
}

#wrapper-1 .container-1 {
  margin: 0 auto;
  width: 67%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url("/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -6rem;
}

#wrapper-1 nav {
  display: flex;
  gap: 50px;
  margin-top: 30px;
}

#wrapper-1 nav h4 {
  color: white;
}

#wrapper-1 nav li {
  list-style: none;
}

#wrapper-1 nav li a {
  text-decoration: none;
  color: grey;
}

#wrapper-1 nav li a:hover {
  color: rgb(0, 123, 255);
}

#wrapper-2 {
  width: 100%;
  height: 110px;
  background-color: #303030;
}

#wrapper-2 .container-2 {
  margin: 0 auto;
  width: 67%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wrapper-2 .container-2 button {
  border: 2px solid rgb(0, 123, 255);
  background-color: #303030;
  padding: 15px;
  color: white;
  font-size: 1.1rem;
  height: 50px;
}

#wrapper-2 .container-2 #bottom-nav {
  display: flex;
  gap: 20px;
}

#wrapper-2 .container-2 #bottom-nav h2 {
  color: rgb(0, 123, 255);
}

#wrapper-3 {
  width: 100%;
  height: 150px;
  padding: 30px;
  background-color: #0282f9;
}

#wrapper-3 .elements-container {
  margin: 0 auto;
  padding: 50px 90px;
  width: 67%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#wrapper-3 .elements-container .container-img .thumb {
  width: 50px;
  margin-right: 19px;
  vertical-align: middle;
}

#wrapper-3 .elements-container .container-img span {
  font-size: 0.9rem;
}

